h3{
    
}
h3:hover{
    color: yellowgreen;

}
.jokomoko{
    background-color: red;
    height: 100px;
    text-align: center;
    color: green;
    font-size: 30px;
    border: 2px solid greenyellow;
    border-radius: 40px;
    padding: 10px;
   
   
    
}